body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #0e0e0e;
  color: #fff;
}

header {
  padding: 20px;
  text-align: center;
  background: linear-gradient(135deg, #1c1c1c, #000);
}

.product {
  background: #1a1a1a;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}

button {
  background: #c89b3c;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.pay-btn {
  width: 90%;
  margin: 20px auto;
  display: block;
}
